p.captions{
	font-family: Tahoma, Geneva, sans-serif;
	width: 500px;
    text-align: center;
    margin: 0 auto;
}

h1{
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
    margin: 0 auto;
}

h2{
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
    margin: 0 auto;
}

img.resize{
	max-width:50%;
    display: block;
    margin: 0 auto;
}
