body{
    background-color: #E0FFFF;
}

p, h1{
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
    margin: 0 auto;
	width: 500px;
	padding-bottom: 30px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
	border: 1px solid #555;
    background-color: #f1f1f1;
	text-align: center;
}

li a{
	font-family: Tahoma, Geneva, sans-serif;
    display: block;
    color: black;
    padding: 8px 0 8px 16px;
}

li a:hover{
    background-color: #555;
    color: white;
}