body{
    background-color: #E0FFFF;
	background-image: url("toppic.png");
	background-repeat: no-repeat;
}

p, h1{
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	margin: 0 auto;
	width: 800px;
	padding-bottom: 30px;
}

h1{
	font-size: 42px;
}

p{
	font-size: 20px;
}

table{
	list-style-type: none;
	margin: 0px;
	width: 550px;
	border: 3px solid #008080;
	border-collapse: collapse;
	background-color: #F0FFFF;
	margin-left: auto;
	margin-right: auto;
}

p.v{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	color: navy;
	padding: 8px;
}


a.v{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	padding: 8px;
}

a.v:link{
	color: #008080;
}

a.v:visited{
	color: #008080;
}

a.v:hover{
	color: white;
}

a.v:active{
	color: #008080;
}

tr.link:hover{
	background-color: #008080;
}

img{
	vertical-align: middle;
}