body{
    background-color: #E0FFFF;
}

p, h1{
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	margin: 0 auto;
	width: 800px;
	padding-bottom: 30px;
}

h1{
	font-size: 42px;
}

p{
	font-size: 20px;
}

table{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 500px;
	border: 3px solid #008080;
	border-collapse: collapse;
	background-color: #F0FFFF;
	margin-left: auto;
	margin-right: auto;

}

td{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	padding: 8px;
	vertical-align: left;
	text-decoration: none;
	display: block;
	width: 100%;
	color: navy;
}

a{
	color: #008080;
}

img{
	vertical-align: middle;
}