th, td{
	border: 1px solid #008080;
	border-collapse: collapse;
	padding: 5px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	vertical-align: middle;
}

td.curr{
	color: blue;
}

p{
	margin: 0px;
}

p.small{
	font-size: 10px;
	margin: 0px;
}

br {
   display: block;
   margin: 20px;
}