body {
    background-color: #ADEAEA;
}

p, h1, h2{
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
    margin: 0 auto;
	padding-bottom: 30px;
}

h1, h2{

}

p.image{
	padding-bottom: 15px;
}

 p.captions{
	width: 500px;
}

img.resize{
	max-width: 50%;
    display: block;
    margin: 0 auto;
}
	