p, h1, h2{
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
    margin: 0 auto;
}

p.image{
	padding-bottom: 5px;
}

p.captions{
	width: 500px;
	padding-bottom: 15px;
}

img.resize{
	max-width: 50%;
    display: block;
    margin: 0 auto;
}
	